h1{display: block; text-align: center;font-size: 100px; color: aliceblue; font-style: italic; font-weight: bold; background-color: rgb(233, 31, 0);}
p{display:block;font-size: medium;line-height: 150%;}
aaaa{background-color: rgb(247, 247, 247);}
p1{display: block;background-color: rgb(7, 38, 243);font-size: 25px;font-weight: bold;line-height: 150%;color: aliceblue;}